/*reset*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

/*palette*/

:root {
    --color-primary-white: #fffeff;
    --color-primary-blue: #0084fd;
    --color-primary-purple: #9792e4;
    --color-secondary-black: #343334;
    --color-secondary-azure: #b8dcff;
    --color-secondary-yellow: #fdc061;
}

/*icons 

<i class="fa-solid fa-bars"></i> --bars
<i class="fa-brands fa-apple"></i> --apple logo
<i class="fa-solid fa-file-code"></i> --file-code
<i class="fa-solid fa-compass-drafting"></i> --compass
<i class="fa-solid fa-laptop-code"></i> --laptop-code
<i class="fa-solid fa-volume-high"></i> --speaker
<i class="fa-solid fa-arrow-down"></i> --arrow-down
<i class="fa-solid fa-quote-right"></i> --quotation
<i class="fa-solid fa-quote-left"></i> --quotation-upside
<i class="fa-brands fa-linkedin"></i> --linkedIN
<i class="fa-solid fa-circle"></i> --dot

*/

/*position*/

.p-relative {
    position: relative;
}

.p-fixed {
    position: fixed;
}

.p-index-high {
    z-index: 100;
}

.p-absolute {
    position: absolute;
}

.p-top-right {
    top: 0;
    right: 130px;
}

/*miscellaeous*/

h2 {
    font-size: 3.5rem;
    padding-bottom: 50px;
}

h3 {
    font-size: 1.8rem;
    padding-bottom: 20px;
}

p {
    line-height: 40px;
    font-size: 1.3rem;
}

p>i {
    font-size: 1.8rem;
    margin: 3px;
}

img {
    width: 100%;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline;
    color: var(--color-primary-white);
}

.container {
    width: 100%;
    margin: 0 auto;
}

.padding-y {
    padding-left: 40px;
    padding-right: 40px;
}

.padding-x {
    padding-top: 50px;
    padding-bottom: 50px;
}

.big-padding {
    padding-top: 100px;
}

.text-center {
    text-align: center;
}

.button-wrapper {
    border-radius: 50px;
}

.propic-wrapper {
    border-radius: 50%;
}

.border-rounded-small {
    border-radius: 30px;
}

.border-rounded-big {
    border-radius: 50px;
}

.bg-blue {
    background-color: var(--color-primary-blue);
}

.bg-azure {
    background-color: var(--color-secondary-azure);
}

.bg-white {
    background-color: var(--color-primary-white);
}

.bg-purple {
    background-color: var(--color-primary-purple);
}

.text-blue {
    color: var(--color-primary-blue);
}

.text-purple {
    color: var(--color-primary-purple);
}

.text-white {
    color: var(--color-primary-white);
}

.text-black {
    color: var(--color-secondary-black);
}

/*header*/

nav {
    width: 100%;
}

.nav-flex {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
}

.nav-logo-wrapper {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0px;
}

.nav-logo-wrapper>img {
    width: 100px;
}

.nav-icon-wrapper {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-icon-wrapper>i {
    color: var(--color-primary-white);
    font-size: 1.8rem;
}

.nav-list {
    display: none;
}

/*main*/

/*intro*/

.intro-card-wrapper {
    padding: 30px 0px;
}

.intro-card {
    padding: 20px;
    height: 100%;
}

.intro-card-icon {
    font-size: 6rem;
}

.intro-card-text {
    padding: 20px 50px;
}

.intro-button-wrapper {
    width: 250px;
    font-size: 1.5rem;
    padding: 20px 0px;
    margin-top: 30px;
}

.intro-button-wrapper>a>i {
    padding-right: 5px;
}

.intro-img-position {
    bottom: -24px;
}

/*planning*/

.planning-wrapper {
   padding: 40px 0px;
}

.planning-card {
    padding: 40px;
}

.planning-text {
   padding-top: 80px; 
}

.planning-card-text {
    padding: 30px 0px;
}

.planning-card-icon{
    display: inline-block;
    padding: 15px 20px;
    margin-top: 30px;
} 

/*testimonials*/

.testimonial-header>* {
    padding: 30px;
}

.testimonial-header>h3, .testimonial-card-text>h3 {
    font-weight: 100;
    padding: 30px 0;
}

.testimonial-header>h2 {
    color: var(--color-primary-purple);
}

.testimonial-card {
    padding-top: 40px;
    margin: 40px 0px;
}

.testimonial-card-text {
    padding: 30px;
}

.testimonial-card-img>img {
    object-fit: cover;
    width: 300px;
    height: 300px;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
}

/*benefit-cards*/

.benefit-card {
    margin: 40px 0px;
}

.benefit-card-text {
    padding: 40px;
}

.benefit-card-text>h2 {
    font-size: 4rem;
}

.benefit-button {
    margin-top: 40px;
    width: 150px;
    padding: 10px;
    font-size: 1.3rem;
}

/*about-us*/

.about-text-wrapper>p {
    padding: 30px 0px;
}

.about-img>img {
    object-fit: cover;
    width: 250px;
    height: 250px;
    display: block;
    border-radius: 50%;
}

.quotation {
    color: var(--color-primary-purple);
    font-size: 6rem;
}

.about-img-wrapper>h3 {
    margin-top: 30px;
    font-size: 2rem;
}

.about-us-text-button {
    font-size: 1.3rem;
    width: 300px;
    text-align: center;
    padding: 15px;
}

/*cta*/

.cta-text-wrapper>h3 {
    font-weight: 100;
}

#free {
    font-size: 5rem;
    color: var(--color-secondary-yellow);
}

.cta-button {
    color: var(--color-primary-purple);
    background-color: var(--color-primary-white);
    font-size: 1.5rem;
    width: 345px;
    padding: 20px 50px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*footer*/

footer {
    background-color: var(--color-secondary-black);
}

.footer-wrapper>p {
    padding: 40px 0px;
}

/*media quary*/

@media screen and (min-width: 576px) {

    #intro {
        display: flex;
        flex-flow: row wrap;
        align-content: stretch;
        justify-content: space-between;
    }

    #intro .intro-card-wrapper {
        width: calc(100% / 3 - 30px);
    }

    #intro .intro-card-wrapper:first-child {
        width: calc((100% / 3) * 2 - 15px);
    }

}

@media screen and (min-width: 992px) {
    
    .intro-card-text {
        padding: 20px 30px;
    }

    .intro-card-img {
        width: 60%;
    }

    .planning-img {
        padding: 40px;
    }

    .testimonial-card {
        padding-top: 0px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
    }

    .testimonial-card-img {
        width: 30%;
        padding: 35px 25px;
    }

    .testimonial-card-text {
        width: 70%;
        padding: 0px 65px;
    }

    .benefit-card-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .benefit-card {
        width: calc(100% / 2 - 20px);
    }

    .about-wrapper {
        display: flex;
        flex-flow: row wrap;
    }

    .about-img-wrapper {
        width: 50%;
        padding: 0px 80px;
    }

    .p-top-right {
        top: 0;
        right: 20px;
    }


    .about-text-wrapper {
        width: 50%;
        padding: 0px 30px;
    }

    .padding-text-center {
       padding: 0px 125px; 
    }
}

/*appare il mockup*/
@media screen and (min-width: 1200px) {

    .nav-icon-wrapper {
        display: none;
    }

    .nav-list {
        display: block;
        width: 50%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        color: var(--color-primary-white);
    }

    .button-nav {
        background-color: var(--color-primary-white);
        border-radius: 50px;
        padding: 10px 15px;
    }

    .button-nav>a {
        color: var(--color-secondary-black);
    }
    
    .container {
        width: 80%;
        margin: 0 auto;
    }

    #intro {
        align-content: flex-start;
    }

    #planning {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .planning-wrapper {
        width: calc(100% / 2 - 40px)
    }
    
    .type-b {
        padding: 200px 50px 0px;
    }

    .benefit-card {
        width: calc(100% / 3 - 20px);
        align-content: flex-start;
    }

    .big-card {
       display: flex;
       flex-flow: row wrap;
       justify-content: space-between;
    }

    #intro {
        align-content: center;
    }

    .intro-card {
        padding: 40px;
    }

    .intro-card-text-big {
        width: 50%;
    }

    .intro-card-img {
        width: 50%;
    }

    .intro-card-img>img {
        max-width: 400px;
    }
    
    .intro-img-position {
        bottom: -44px;
    }

}